section div.beta > header {
    padding: 0;
    border: none;
    margin-bottom: 10px;
}

section div.beta .table-container {
    padding: 0px 15px;
}

section div.beta table {
    margin-bottom: 30px;
}

section div.beta table td {
    font-size: 1.2rem;
    color: #333333;
}

section div.beta li a,
section div.beta li a:hover.button {
    text-decoration: none;
}

section div.beta li a:hover {
    text-decoration: underline;
    color: #333333;
}

.stats-content {
    padding-bottom: 30px;
}

.stats-content span {
    margin-right: 6px;
}

.stats-header {
    font-size: 24px;
}

.stats-content a {
    vertical-align: bottom;
}

.rounded-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #007FFF;
    font-size: 24px;
    padding: 6px 36px;
}

.create-beta-img-container {
    clear:both;
    height:300px;
    margin-bottom: 25px;
}

.create-beta-instructions {
    font-size: 18px;
    font-family: "arial";
    color: #999;
    clear:both;
    margin-bottom: 20px;
}

/*  There are some layering issues with the button
    This needs to be resolved, or this code removed 
*/
.beta .menu-container menu {
    display: inline-block;
}

.beta .list tr:hover menu {
    z-index: 20;
}

/*  Beta Modal Overrides
*/
#confirm_modal .beta.header {
    background: none repeat scroll 0 0;
    padding: 20px 20px 5px;
}

#confirm_modal .beta.header h1 {
    color: #FF9900;
    font: 24px Arial,Helvetica,sans-serif;
    text-align: left;
}

#confirm_modal .beta.content {
    padding: 5px 20px;
}

#confirm_modal .beta.footer {
    background-color: #FFFFFF;
}

#confirm_modal .beta.footer .action-list {
    text-align: center;
}

#confirm_modal .beta.footer li {
    margin: 0px 10px;
}

.update-metadata.tooltip-bulletin {
    bottom: 15px;
    left: -135px;
    width: 150px;
}

.update-metadata.tooltip-bulletin:after {
    left: 130px;
}

