  #notification .error-processing-notification {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: normal;
    background: #EFEAE2;
    background: rgba(255, 135, 0, 0.05);
    color: #C60;
    padding: 10px 5px;
    text-shadow: 0 1px 0 #ffffff;
  }
  
  .unread {
    font-weight: bold;
  }
  
  .read {
  	font-weight: normal;
  }
  
  .hasBody {
  	cursor:pointer;
  }
  
  .notifications li { cursor: pointer; }

  .notifications .important {
     background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/sprite-important.png") no-repeat scroll 0 0 transparent;
 	 display: block;
     height: 16px;
     width: 16px;
     cursor:pointer; 
  }
  
  .notification-container .alert, .notifications .alert {
      background-size: contain;
  }
  
  .button-selected {
      border-bottom: 4px solid rgb(249, 153, 29);
  }

  .notifications .active {
    background-position: 0 -16px;
  }
  
  .notifications .noti-checkbox-column {
  	width:2.5%;
  }
  
  .notifications .noti-important-column {
  	width:2.5%;
  }
  
  .notifications .noti-date-column {
  	width:10%;
  	white-space: nowrap;
  }
  
  #notification .noti-date-column {
    width: 10%;
    white-space: nowrap;
  }

  .no-display-notification {
  	display:none;
  }
  
  .notifications .button.disabled {
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #CCCCCC 100%) repeat-x scroll 0 0 #CCCCCC;
  	color: #8B8E95
  }
  
  .notification-container {
      height: 343px;
  }
  
  .notifications .bodyRow{
  	background: none repeat scroll 0 0 #E6E6E6;
  }
  
  .notifications .deletebttn{
	cursor: pointer;
  }
  
  .notification-button-container .notification-button {
    height: 15px;
    cursor: pointer;
  }
        
  .notification-button-container {
    height: 38px;
    border-bottom: 1px solid #CCD1D3;
  }
  
  .notification-table td {
      height: 20px;
  }
  
  #criticalCheckBox {
      float: right;
      margin-right: 22px;
  }