#currencies label.error input {    
    border-color: #FAA;
}

#currencies input {
    margin-bottom: 4px;
}

#currencies .error-label {
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
    color: #C00;
    font: 11px/1.5 Verdana, Geneva, sans-serif;
}

#create_upgrade_version_confirms .warning {
    margin-bottom: 0px;
}

.sortables-container .sortable-asset {
    float: left;
}

.pointer-cursor {
    cursor: pointer;
}

.version-list {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid rgba(163, 185, 196, 0.30000000000000004);
	margin-left: 0;
	padding: 10px;
	background: #e2e2e2;
	background: #e2e2e2 -moz-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%) no-repeat;
	background: #e2e2e2 -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #e2e2e2)) no-repeat;
	background: #e2e2e2 -webkit-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%) no-repeat;
	background: #e2e2e2 -o-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%) no-repeat;
	background: #e2e2e2 -ms-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%) no-repeat;
	background: #e2e2e2 linear-gradient(top, #eeeeee 0%, #e2e2e2 100%) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=0);
}

form #releaseNotes {
    height: 250px;
}

#collectable_nav_list li a.disabled {
	cursor: default;
	opacity: 0.5;
}