/* TEMPORARY This will be fixed later. This is here to not use the media central css which interferes with
other content symphony stuff */

.orangeFont {
    color: #f60;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

h1.graySubHeading, h2.graySubHeading, h3.graySubHeading {
    background-color: #bbb;
    padding: 7px;
    color: #fff;
    font-weight: normal;
}

#announcements .dp-cs-content {
    font-family:verdana,arial,helvetica,sans-serif;
    padding-top:0px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:1080px;
}

#announcements .dp-cs-content p {
    margin:20px;
    font-size:100%;
}

#announcements .dp-cs-content ul {
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 50px;
}

#announcements .dp-cs-content a {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:normal;
    font-weight:normal;
    color: #004B91;
}

#announcements .dp-cs-content .h1 {
    -moz-border-radius: 5px 5px 0 0;
    background: none repeat scroll 0 0 #616870;
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: bold;
    overflow: hidden;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    display:block;
    border: 0 none;
}

#announcements .dp-cs-content .h2 {
    font-size:large; 
    font-weight:bold;
    margin-bottom:0em; 
    color:#E47911;
}

#announcements .dp-cs-content .linkbox {
    margin:10px;
}

#announcements .dp-cs-content .image {
    width: 100%;
    text-align:center;
}

#announcements .dp-cs-content .bodytext {
}

#announcements .dp-cs-h2 { color:#E47911; padding:0; font-size:135%; font-weight:bold; margin:0 0 0.35em 0; }

#announcements .dp-cs-h3 { color:#E47911; padding:0; font-size:135%; font-weight:bold; margin:0 0 0.35em 0; }

#announcements .dp-cs-tiny { font-size:x-small;}

#announcements .dp-cs-error {
}

form .asset.warning .action-list {
    clear: none;
}
/* END TEMPORARY */

p .button,
td .button {
    width: auto;
}

.icon-30 {
    height: 30px;
    width: 30px;
}

.icon-13 {
    height: 13px;
    width: 13px;
}

form span.info-warning {
    color:#C60;
}

.link-list li span.current {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.link-list li span.unknown {
    font-style: italic;
}

/* Begin datepicker css */
#ui-datepicker-div {
    display: none;
}

.ui-datepicker-trigger {
    margin: 0 0 3px 5px;
    vertical-align: middle;
}

.hasDatepicker {
    margin-right: 5px;
}

.ui-datepicker {
    margin-left: 210px;
}
/* End datepicker css */

/* Begin Countries Availability Selector css */
.countriesAvailabilitySelectorCurrentSelection {
	border-top: 1px solid #DDD;
	display: block;
	font-family: arial, sans-serif;
	font-size: 11px;
	margin: 10px;
	padding: 10px;
}
/* End Countries Availability Selector css */

/* Prompted input css */
.promptedInputContainer {
    position: relative;
}

.promptedTextAreaInputContainer,
.promptedTextInputContainer {
    width: 100%;    
}
.promptedInputContainer .promptedLabel {
    color: #555555;
    font-style: italic;
    left: 6px;
    position: absolute;
    top: 2px;
    z-index: 100;
}

.promptedInputContainer .promptedTextAreaLabel {
    top: 8px;
}
.promptedInputContainer .promptedTextInputLabel {
    top: 11px;
}
/* End Prompted input css */

/* Error color for Invalid Price Value for multiple currency price list */ /* TEMPORARY */
#currencies .error-row {
    color: #CC0000;
}

#taxSettingsForm .error-row {
    color: #CC0000;
}

#software-processor-support-container .error-row {
    color: #CC0000;
}

#classfication-main .error-row {
    color: #CC0000;
}

#drm-used .error-row {
    color: #CC0000;
}

/* Asset Image Overrides */
form .asset {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.5);
    border: 1px dashed #cccccc;
    cursor: pointer;
    float: left;
    height: 70px;
    position: relative;
    width: 70px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

form .screenshot {
    height: 200px;
}

form .asset.uploaded img {
    vertical-align: top;
}

form .asset.disabled {
    cursor: default;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
}

form .asset.uploading {
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/ajax-loader.gif") center no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}
/* End Asset Image Overrides */

/* Confirmation Overrides */
form .asset.warning span,
form .user.warning span
 {
    color: #C60;
    font: 12px/1.4 Arial, sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 white;
    padding: 0;
    text-transform: none;
    display: inline-block;
}

.resetUdu.warning {
    background-color: #efeae2;
    background-color: rgba(255, 135, 0, 0.05);
    padding: 10px;
}

.resetUdu.warning span {
    color: #C60;
    font: 12px/1.4 Arial, sans-serif;
    text-shadow: 0 1px 0 white;
    text-transform: none;
}

form .user.warning  {
    background: none repeat scroll 0 0 rgba(255,135,0,0.05);
    padding: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
}

form table tr.confirmation_row td {
    padding: 0;
    border: 0;
}

form table tr.confirmation_row td p.warning span {
    color: #C60;
}

/* End Confirmation Overrides */



/* FTP Account Overrides */
div#naming_convention li {
    padding-bottom: 5px;
}
div#naming_convention li.nopadding {
    padding: 0px;
}
div#naming_convention span.example {
    font-size: 8pt;
    font-style: italic;
}
div#naming_convention .padded_5 {
    padding: 5px;
}
div#naming_convention .padded_5_no_bottom {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
div#naming_convention .margined_left_25 {
    margin-left: 25px;
}
div#naming_convention .padded_25 {
    padding: 25px;
}
div#naming_convention.padded_25_no_bottom {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
div#naming_convention .outlined {
    border: 1px solid black;
}
/* End FTP Account Overrides */

/* used in availability & pricing to add a small gap between the input text box and the label to the right */
form input.rightSpace {
    margin-right: 5px;
}

/* iap bullets used in the iap list page */
table tr td .bullets {
    margin: 0 0 20px 15px;
}

table tr td.no-border {
    border-bottom: 0px;
    padding: 0px;
}

.export-csv-button input[type=button], .export-csv-button a, input[type=button].export-csv-button {
    border: 0;
    background: transparent url(https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal/images/button_exportCSV.gif) no-repeat center top;
    /* text-indent: -1000em;*/
    margin: 0;
    padding: 0;
    height: 22px;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
}

/* Captcha */
div.captcha {
    width: 350px;
    padding-bottom: 5px;
}

div#captchaImgBox {
    border: 1px solid #000000;
}

div#captchaImgBox {
    text-align: center;
    width: 200px;
    height: 70px;
    float: left;
}

div.captchaRetryBox {
    display: table-cell;
    vertical-align: bottom;
    height: 73px;
}

div.captchaRetryBox a {
    margin-left: 5px;
}
/* End Captcha */

/* css for the banner. remove after confirmed that it is in main.css */
p.success {
    background: none repeat scroll 0 0 rgba(0, 153, 0, 0.05);
    color: #006600;
    padding: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

#appRow a, #iapRow a, #mobadRow a {
    text-decoration: none;  
}

#appRow tbody tr:hover a, #iapRow tbody tr:hover a, #mobadRow tbody tr:hover a {
    text-decoration: underline; 
}
#appRow td.row span.itemTitle, #iapRow td.row span.itemTitle, #mobadRow td.row span.itemTitle {
    font-size: 1.2rem;
}

.list a span.itemTitle {
     color: #333333;    
}

/* Keep Banjo Label under App Title */
div.icon-column {
    float:left;
    display:table-cell;
}

div.title-column {
    display:table-cell;
}

form .asset .assetInputBox {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    top: -30px;
    right: 30px;
}

form .asset input[type="file"] {
    width: 100px;
    height: 100px;
}

#primary-header #util #header_login a {
    text-decoration: none;
}

.content table tr td .state {
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/sprite-state.png") no-repeat;
  float: left;
  height: 14px;
  text-indent: -9999em;
  top: 8px;
  width: 18px;
}
.content table tr td .state.error {
  background-position: 0 -15px;
}
.content table tr td .state.edited {
  background-position: 0 -30px;
}

/* BEGIN TIMS */
#tax-guide {
    float: right;
    position: relative;
    text-decoration: underline;
    top: -30px;
}

#progress {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 1px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;    
    overflow: hidden;
    width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#progress span.start {
    color: #333;
    background: white;
    background: white -moz-linear-gradient(top,white 0,white 100%) repeat-x;
    background: white -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,white)) repeat-x;
    background: white -webkit-linear-gradient(top,white 0,white 100%) repeat-x;
    background: white -o-linear-gradient(top,white 0,white 100%) repeat-x;
    background: white -ms-linear-gradient(top,white 0,white 100%) repeat-x;
    background: white linear-gradient(top,white 0,white 100%) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    text-shadow: 0 1px 0 white;
}

#progress span {
    color: white;
    display: block;
    font-size: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 4px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #666;
    background: #666 -moz-linear-gradient(top,#999 0,#666 100%) repeat-x;
    background: #666 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#999),color-stop(100%,#666)) repeat-x;
    background: #666 -webkit-linear-gradient(top,#999 0,#666 100%) repeat-x;
    background: #666 -o-linear-gradient(top,#999 0,#666 100%) repeat-x;
    background: #666 -ms-linear-gradient(top,#999 0,#666 100%) repeat-x;
    background: #666 linear-gradient(top,#999 0,#666 100%) repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#666666',GradientType=0);
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px solid rgba(0, 0, 0, 0.6) 1px 0 white;
}

#k1099_content-frame.k1099_fixed-width {width: 95%; text-align: center;}
#k1099_interviewHeader, .k1099_cols-two.k1099_bucketcontainer25 {max-width: 1300px; text-align: left;}
#k1099_interviewHeader {margin-left: auto; margin-right: auto; position: relative;}
#k1099_interviewHeader h1 {font-size: 19px; padding-top: 10px;}

.k1099_cols-r1 .k1099_righttitle {background-color: #CAE2F4;}
.k1099_center {text-align: center;}

#k1099_actionButtons {padding: 10px 0;}
.k1099_content-module {margin-top: 0; border-top: 1px solid #fff;}

/* content */
.k1099_contentList li {margin-bottom: 12px;}


#k1099_w9FormContainer {padding: 0; }
.k1099_w9Form, .k1099_w9Form2 {text-align: left; margin-left: auto; margin-right:auto; position: relative; width: 660px; font-size: 11px; padding-bottom: 12px;}
.k1099_reallyBig {font-size: 30px; font-weight: bold;}
table.k1099_data-entry td.k1099_info {padding: 10px;}
.k1099_w9Form ul, .k1099_w9Form2 ul {list-style-type: none; margin: 0; padding: 0;}

#k1099_w9-top ul li {border: none;}


#k1099_w9-top {position: relative;}
#k1099_w9-top ul li {height: 90px; width: 160px; border-right: 1px solid #000; padding: 10px;}
#k1099_w9-top ul li.k1099_centerTitle {text-align: center; font-size: 15px; font-weight: bold; padding-top: 25px; height: 75px; position: absolute; left: 160px; top: 0; width: 360px;}
#k1099_w9-top ul li.k1099_leftNote {padding-left: 0px; width: 160px;}
#k1099_w9-top ul li.k1099_rightNote {border: none; font-size: 10px; font-weight: bold; padding-top: 20px; height: 70px; width: 90px; position: absolute; right: 0; top: 0;}


#k1099_w9-busInfo {clear: both; border-top: 1px solid #000;}
#k1099_w9-busInfo ul li {padding-left: 5px;}
.k1099_formInfo {background-color: #DDE4FF; padding: 5px; margin-top: 3px; margin-left: -5px;}

.k1099_w9Form label {cursor:  pointer;}
.k1099_w9Form input , #k1099_w9Form textarea{border: 1px solid #999; font-size: 12px; padding: 2px;}
.k1099_w9Form input.k1099_full {width: 95%;}
.k1099_w9Form #k1099_nameBox {padding-bottom: 15px; border-bottom: 1px solid #333;}
.k1099_w9Form #k1099_nameBox label {display: block; padding: 12px 0 5px;}
.k1099_w9Form #k1099_classBox{ border-right: 1px solid #333; width: 520px; padding-top: 12px; position: relative;}
.k1099_w9Form #k1099_classBox ul {margin: 0; padding: 0; list-style-type: none;}
.k1099_w9Form #k1099_classBox ul li {margin: 0; padding: 3px 0;}
.k1099_w9Form #k1099_classBox label {padding: 0 15px 0 5px;}
.k1099_w9Form #k1099_classBox .k1099_lftPadd {padding-left: 20px;}
.k1099_w9Form #k1099_exemptBox {position: absolute; right: -130px; top: 40%; width: 130px;}
.k1099_w9Form #k1099_myAddy {border-top: 1px solid #333; position: relative;}

.k1099_w9Form #k1099_myAddy label {display: block; padding: 12px 0 5px;}
.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_left{ width: 400px; padding-bottom: 10px;}
.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_right {width: 220px; float: right; border-left: 1px solid #333; padding-bottom: 15px;}
.k1099_w9Form #k1099_myAddy .k1099_sublist .k1099_right textarea {width: 200px;}
.k1099_w9Form #k1099_actNumBox {border-top: 1px solid #333; padding-bottom: 12px;}
.k1099_w9Form #k1099_actNumBox label {display: block; padding: 12px 0 5px;}

.k1099_w9Form .k1099_hdrRow {border-top: 2px solid #333; border-bottom: 1px solid #333; font-weight: bold; padding: 5px 5px 5px 80px;; font-size: 14px; position: relative;}
.k1099_w9Form .k1099_hdrRow .k1099_partNum {padding: 5px 10px; background-color: #333; color: #fff; display: inline-block; margin-right: 12px;position: absolute; left: 0; top: 0;}
.k1099_w9Form #k1099_tinBox {position: relative; padding: 10px 0;}
.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_left {width: 350px;}
.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_right {width: 280px; position: absolute; right: 0; top: 0;}
.k1099_w9Form #k1099_tinBox .k1099_sublist .k1099_right label {display: block; border: 1px solid #666; padding: 2px; font-weight: bold; margin: 10px 0 5px;}
#k1099_ssn1, #k1099_ssn3 {width: 25px;}
#k1099_ssn2, #k1099_ein1 {width: 20px;}
#k1099_ein2 {width: 60px;}



#k1099_w8ben {
    background-color: #EEE;
    border: 1px solid #666;
}

.k1099_row {
    border-bottom: 2px solid black;
}

.k1099_section {
    padding: 5px 5px 10px;
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    font-size: 11px;
}

.k1099_notLast {
    border-right: 2px solid black;
}

.k1099_lamePositionWrapper {
    position: absolute;
    bottom: 10px;
}

#k1099_w8Head1 {
    width: 145px;
    position: relative;
    height: 80px;
}

#k1099_w8Head2 {
    width: 500px;
    text-align: center;
    font-weight: bold;
    position: relative;
    height: 90px;
}

#k1099_w8Head3 {
    width: 110px;
    font-size: 10px;
}

#k1099_w8Head1 p {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.k1099_formName {
    font-size: 20px;
    font-weight: bold;
}

#k1099_w8Head2 p {
    font-size: 11px;
    margin: 0;
}

.k1099_sectionHeader {
    font-weight: bold;
    font-size: 14px;
}

.k1099_partNum {
    color: white;
    background-color: black;
    height: 20px;
    padding: 2px 5px;
    margin: 0 5px;
}

#k1099_w8ben input[type=text] {
    display: block;
    width: 100%;
    border: 1px solid #999;
}

.k1099_a1 {
    width: 475px;
}

.k1099_a2 {
    width: 275px;
}

.k1099_sectionNumber {
    font-weight: bold;
    margin-right: 5px;
}

.k1099_checkboxCol {
    display: inline-block;
    width: 115px;
    white-space: nowrap;
    overflow: visible;
    vertical-align: top;
    font-size: 10px;
}

.k1099_wideCol {
    width: 150px;
}

#k1099_w8ben label {
    display: block;
}

.k1099_b1 {
    width: 425px;
}

.k1099_b2 {
    width: 325px;
}

.k1099_b1 input, .k1099_b1 label {
    display: inline;
}

.k1099_b1 input[type=text] {
    width: 200px;
}

.k1099_solo {
    width: 95%;
}

.k1099_signature .k1099_section {
    font-size: 9px;
    line-height: 1.2;
    vertical-align: middle;
}

.k1099_signatureHeader {
    font-size: 14px;
    font-weight: bold;
}

/* begin additional w9Form css added from seller central */

/* obtained from seller central css as suggested by TIMS for the certification section style fix */
.k1099_w9Form input.k1099_half {
    width: 45%;
}
.k1099_w9Form .k1099_signatureRow {
    margin:5px; height:22px; 
    border-top: 1px solid #333; 
    border-bottom: 1px solid #333; 
    padding: 2px 5px 2px 5px; 
    position: relative;
}
.k1099_w9Form .k1099_signatureRow .k1099_sublist .k1099_left {
    width: 60%; 
    position: absolute; 
    left: 0;
}
.k1099_w9Form .k1099_signatureRow .k1099_sublist .k1099_right {
    width: 40%; 
    position: absolute; 
    right: 0;
}
/* end of style fix section */

/* override the form label for the w-9 certification section part 2 */
form .k1099_signatureRow label {
    padding: 0 !important;
}

/* adjust the margin of numbered lists (currently needed for the numbered list in the certification section */
.k1099_w9Form ol li,.k1099_section ol li {
    margin-left: 40px;
}

.w9Form, .w9Form2 {
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-bottom: 12px;
    position: relative;
    text-align: left;
}

.reallyBig {
    font-size: 30px;
    font-weight: bold;
}

.w9Form ul, .w9Form2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.w9Form label {
    cursor: pointer;
}

.w9Form input, .w9Form textarea {
    border: 1px solid #999999;
    font-size: 12px;
    padding: 2px;
}

.w9Form input.full {
    width: 95%;
}

/* end additional w9Form css added from seller central */

/* additional override, not from seller central css */
#tax-instruction-monetize-apps {
    top: -12px;
    position: relative;
    font-style: italic;
    color: #666666;
}

#tax-form .bold {
    font-weight: bold;
}

#tax-form .row label.emptycaption_required:after {
    float:right;
}

.data-entry tr .standardLabel label {
    display:inline;
}

.lamePositionWrapper p {
    border-bottom: none;
    padding: 0;
}

.k1099_w9Form textarea[readonly] {
    background: none repeat scroll 0 0 #EEEEEE;
}

#id-first-step-list li {
    margin-left: 15px;
    padding-bottom:8px;
}

.w9FormField input {
    width: auto;
}

.w9FormField p {
    font-size: 100%;
}

#tax-form .tip-trigger {
    padding: 0;
}

#tax-form .tip-trigger img {
    padding-bottom: 0px;
}

.off-site {
    background: url('https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/offsite-link-icon.png') right no-repeat;
    padding: 0 18px 0 0;
}

.k1099_w8_tin, .k1099_foreigntin {
    background: none repeat scroll 0 0 #EEEEEE !important;
}

/* An override for the first radio button label under 'select your type' in the company tax information form. */
#pinamebusiness_otherclass_type_exempt_value {
    display: inline !important;
}

/* end additional overrides */

@media print {  
    /* enclosing elements css */
    .printVersion .container { margin: 0 auto; padding: 0;}
    
    .printVersion section {margin : 0; box-shadow: none; border-radius: none; background: none;}
    .printVersion section .content {padding: 0; border: 0; margin: 0;}
    .printVersion section#edit-panel .content article .content {
       padding: 0; border: 0; margin: 0;
    }
    .printVersion section header h1 {display: none;}
    
    .printVersion h2.primary {display: none;}
    .printVersion h3.secondary {display: none;}
    
    .printVersion hr {display: none;}
    
    .printVersion nav[role="navigation"] {display: none;}
    
    .printVersion .tabs {display: none;} /* for the tabs during the registration process */
    
    .printVersion footer[role="contentinfo"] {display: none;}
    .printVersion footer {display: none;}
    
    .printVersion p.instruction {display: none;}
    
    .printVersion #primary-header {display: none;}
    
    .printVersion table {border-top: none; border-bottom: none;}
    .printVersion table td {border-bottom: none; padding: 0;}
    /* end enclosing elements css */
     
    /* interview specific css */ 
    .printVersion #tax-guide {display: none;}
    .printVersion #progress {display: none;}
    .printVersion #print_form {display: none;}
}

/* END TIMS */

/* Used for Argon tax interview entry buttons */
.tax-button {
    width: 21em !important;
    text-align: center;
}

/* Do not display breadcrumbs configured elements from Content Symphony */
#devportal-configure-breadcrumbs{
    display: none;
}

.devportal-configure-breadcrumbs{
    display: none;
}

/* Limited access disabled banner */
.limited-access-banner{
    background-color: #eca004;
    font-family: Arial;
    font-size: 14px;
    color: #FFFFFF;
    height: 75px;
    margin: 0px;
}

.limited-access-disable-link{
    cursor: pointer;
}

#limited-access-tooltip{
    background-color: #000000;
    z-index: 500;
    display: none;
    color: #FFFFFF;
    opacity:0.8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #eca004;
    position: absolute;
    padding: 7px;
    font: arial 12px;
}

.tabs li {
    white-space: nowrap;

}

.hide-banjo-buttons {
    display: none;
}

.tabs li a .state {
    padding-right: 33px;
}

div.addnewapp {
    position: relative;
    z-index: 1;
    height: 45px;
    padding: 8px 6px 8px 0;
}

#add_new_app_menu {
    padding: 0;
    min-width: 149px;
    width: auto;    
}

#control-panel > footer {
    overflow: visible;
}

#contract{
    background-color: white;
    padding: 20px;

}

.button.primary_dropdown {
    background-color: #006600;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png");
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"),
        -moz-linear-gradient(center top, #009900 0px, #006600 100%);
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"), #006600
        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009900),
        color-stop(100%, #006600) );
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"), #006600
        -webkit-linear-gradient(top, #009900 0%, #006600 100%);
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"), #006600
        -o-linear-gradient(top, #009900 0%, #006600 100%);
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"), #006600
        -ms-linear-gradient(top, #009900 0%, #006600 100%);
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"), #006600
        linear-gradient(top, #009900 0%, #006600 100%);
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png"),
        -ms-linear-gradient(top, #009900 0%, #006600 100%);
    -ms-filter:
        "progid:DXImageTransform.AlphaImageLoader(src='https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png')";
    filter: progid:DXImageTransform.AlphaImageLoader(src='https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/arrow_down.png'
        );
    background-repeat: no-repeat, repeat-x;
    background-position: right center, 0 0;
    color: #FFFFFF !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

#translations-wrapper{
    text-align: right;
}

.medium {
    width: 400px;
    border-color: #CCCCCC;
}

#translations-wrapper menu{
    text-align: left;
}

.appfiles-button {
    background: -moz-linear-gradient(center top , #EEEEEE 0px, #CCCCCC 100%) repeat-x scroll 0 0 #CCCCCC;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE),
        color-stop(100%, #CCCCCC) );
    background: #CCCCCC  -webkit-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: #CCCCCC -o-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background:  #CCCCCC -ms-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: #CCCCCC linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: -ms-linear-gradient(top left, #EEEEEE 0%, #CCCCCC 100%);
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -1px 0 #FFFFFF, 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #424B54;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    height: 21px;
    line-height: 20px;
    padding: 0 12px;
    text-decoration: none;
    vertical-align: cernter;
    width: 80px;
}

.appfiles-button.processing {
    background-color: #CCCCCC;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif");
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"),
        -moz-linear-gradient(center top, #EEEEEE 0px, #CCCCCC 100%);
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"),#CCCCCC
        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE),
        color-stop(100%, #CCCCCC) );
    background:  url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"), #CCCCCC
        -webkit-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"), #CCCCCC
        -o-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"), #CCCCCC
        -ms-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"), #CCCCCC
        linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"),
        -ms-linear-gradient(top left, #EEEEEE 0%, #CCCCCC 100%);
    filter: progid:DXImageTransform.AlphaImageLoader(src="https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif"
        );
    -ms-filter:
        "progid:DXImageTransform.AlphaImageLoader(src='https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/content/sdk/images/spinner.gif')";
    background-repeat:   no-repeat, repeat-x;
    background-position:  right center, 0 0;
}

#translations{
    background: #424B54 url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/icon-dropdown-sm-white.png") no-repeat right center;
    color: white;
    -webkit-box-shadow: 0 0 0 black;
    box-shadow: 0 0 0 black;
    text-shadow: 0 1px 0 black;
}

.warning .warning-msg {
    display: inline-block;
    color: #C00;
}

#validate_button {
    float:right;
    margin-right:195px;
    height:50px;
}

.warning .warning-acknowledgement {
}

.tabs li {
    white-space: nowrap;
}

#contract{
    background-color: white;
    padding: 20px;
}

#translations-wrapper{
    text-align: right;
}

#translations-wrapper menu{
    text-align: left;
}

#translations{
    background: #424B54 url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/icon-dropdown-sm-white.png") no-repeat right center;
    color: white;
    -webkit-box-shadow: 0 0 0 black;
    box-shadow: 0 0 0 black;
    text-shadow: 0 1px 0 black;
}

.warning .warning-msg {
    display: inline-block;
    color: #C00;
}

.warning .warning-acknowledgement {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 10px;
}

.medium_error {
    width: 400px;
    border-color: #FFAAAA;
}

.medium.disabled  {
    width: 400px;
    color: #888888;
}

.validated {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#currencies .country-list {
    vertical-align: middle;
}

.disabled_text {
    color: #777777;
}

.button {
    width:100px;
}

.button.appfiles {
    width:100px;
}

#currencies input, #charging input {
    width:60px;
}

#currencies .country-input {
    width: 20%;
}

#locked-to-udu-message {
    font-weight: bold;
}

.warning .warning-acknowledgement input {
    vertical-align: top;
    margin-right: 5px;
}

#nowrap {
    white-space: nowrap;
}

.popup {
    position: relative;
    display: inline;
    list-style: none;
    cursor: pointer;
}

.popup li {
    display: inline;
}

.popup li div {
    visibility: hidden;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    right: 0;
    top: 0;
    min-width: 200px;
    width: 375px;
    z-index: 100;
    color: #333 !important;
    display: block;
    font: 11px Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding: 5px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #fff !important;
    position: absolute;
    display: list-item;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.popup li:hover div {
    visibility: visible;
}

.button-download-icon
{
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/icon-download._V376028825_.png") no-repeat left;
    float:left;
    height:15px;
    width: 12px;
    position:relative;
    top:6px;
    margin-right: 5px;
}

.left-block {
    position: relative; 
    display: inline-block; 
    width: 100%;
}

.right-block {
    right: 10px;
    top: 10px;
    position: absolute;
    display: inline-block;
}

#iapSearch.search {
    position: relative;
}

table tr td .pricing-val, table tr td .pricing-val-zeroed {
    width:55px;
    display:inline-block;
    color:#333333 !important;
}

table tr td .pricing-currency {
    width:55px;
    display:inline-block;
    color:#333333 !important;
}

#currencies label .error-label {
    vertical-align: baseline;
}

.button.warning {
    color:#fff!important;
    background:#660B00;
    background:#660B00 -moz-linear-gradient(top,#CD0C24 0,#660B00 100%) repeat-x;
    background:#660B00 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#CD0C24),color-stop(100%,#660B00)) repeat-x;
    background:#660B00 -webkit-linear-gradient(top,#CD0C24 0,#660B00 100%) repeat-x;
    background:#660B00 -o-linear-gradient(top,#CD0C24 0,#660B00 100%) repeat-x;
    background:#660B00 -ms-linear-gradient(top,#CD0C24 0,#660B00 100%) repeat-x;
    background:#660B00 linear-gradient(top,#CD0C24 0,#660B00 100%) repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CD0C24',endColorstr='#660B00',GradientType=0);
    text-shadow:0 1px 0 rgba(0,0,0,0.6)
}

.dialog_background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  filter:alpha(opacity=60);
  background-color: rgba(0,0,0,0.60);
  overflow: hidden;
  float: absolute;
  position: fixed;
  top: 0;
  left: 0;
}

.dialog_body {
  background-color: rgb(238,238,238);
  font-size: 16px;
  display:block;
  position: absolute;
  top: 40%;
  left: 35%;
  min-width: 410px;
  min-height: 150px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 8px #000000;
}

.dialog_body_text {
    font-size: 12px;
    text-align: center;
    padding: 15px;
}

.dialog_body header {
    background: none repeat scroll 0% 0% rgb(70,75,81);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 8px;
}

.dialog_body_buttons {
    text-align: center;
    padding: 5px 0px 20px 0px;
}

#paymentFormBR .br-payment-tip-trigger {
    position: absolute;
    padding: 0;
}

#paymentFormBR .br-payment-tip-trigger img {
    padding-bottom: 0px;
}

menu:hover.drop-button ul {
    display: none;
}

/*
 * Webapp App Files CSS
 */
.app_validation_row.failure .col_details {
    color: #c00;
}

#apptypes {
    border: 0.025rem solid rgba(204, 204, 204, 0.3);
    background-color: #efefef;
    margin: 1rem 0;
    width: 30rem;
}

#packaged-web-app-zip, #app-url, #itemsection_appfiles #launch-path {
    display: none;
}

#itemsection_appfiles #launch-path input {
    width: 30rem;
}

#itemsection_appfiles #launch-path , #packaged-web-app-zip, #itemsection_appfiles #launch-path td, #packaged-web-app-zip td{
    border-bottom: 0 none;
}

#packaged-web-app-zip .asset.uploaded {
    float: none;
    width: 29rem;
    height: auto;
}

#package_unique_msg {
    padding-top: 8%;
}

#packaged-web-app-zip .asset.uploaded .remove {
    top: -5px;
}

#packaged-web-app-zip .asset.uploaded > span {
   margin: 0;
   padding: 0;
   width: auto;
   text-align: left;
}
#zip-validation-row {
    border-bottom : 1px solid rgba(204, 204, 204, 0.3);
}
#zip-validation-row td {
    padding: 0;
    border : 0 none;
}
#zip-validation-row .app_validation_row td{
    padding: 3px 5px;
}
#zip-validation-row table {
    border : 0 none;
}

#apptypes input[type="radio"] {
    margin: 1rem;
}

#apptypes div .app-type-caption {
    display: none;
}

#apptypes > div.selected {
    background-color: #fff;
}

#apptypes > div.selected .app-type-caption {
    display: block;
    margin: 0 1rem;
}

/* Public beta banner */
/*
#betaBanner {
    background-color:rgb(63,156,202);
    padding: 7px 7px 7px 15px;
    color: white;
    font-weight: bold;
}

#betaBanner a {
    color: white;
    text-decoration: underline;
    text-shadow: none;
}
*/

#betaBanner {
    background-color: #FF9623;
    padding: 7px 7px 7px 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}
 
#betaBanner a {
    background: url(" https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/devportal2/res/images/button-beta.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    display: inline-block;
    height: 20px;
    text-decoration: none;
    text-shadow: none;
    width: 128px;
}

/*
 * CSS for Certificate Hashes
 * Used in conjunction with Developer Select CSS
 */
 
.certificate_hash > .row {
    position: relative;
}
.certificate_hash > .row > .wrapper > span {
    display: inline-block;
    color: #333;
    padding-top: 4px;
}
.certificate_hash > .row > .wrapper > .tooltip-content {
    bottom: 25px;
    right: -139px;
    left: auto;
}
.certificate_hash > .row > .wrapper > .tooltip-icon {
    position:relative;
    bottom: -3px;
}
.certificate_hash > .row > .wrapper {
    position: relative;
    height: 100%;
    display: inline;
}

.certificate_hash .tooltip-icon {
    background: url('/res/images/icon-info.png') no-repeat;
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 4px;
}

.certificate_hash .a-icon.a-icon-popover {
    display: none;
}

#hashes_section .hexadecimal-value {
    word-wrap: break-word;
}

#hashes_section .base64 {
    padding: 7px 5px;
}

/* COPPA Header*/

.content_rating_header {
    background-color: transparent;
    color: inherit;
    border-style: none;
    text-shadow: none;
    font-size: 21px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 0;
}

#new_ratings_banner {
    margin-bottom : 15px;
}

.device-container .error-row {
    clear: left;
    color: #C00;
    display: block;
}

.device-checkbox-acknowledgement {  
    border:1px dotted #eed3d7; 
    background-color: #efeae2;
    background-color: rgba(255, 135, 0, 0.05);
    padding:8px; 
    margin-top:5px; 
    color:#C60;
}

.controller-checkbox-acknowledgement {  
    border:1px dotted #eed3d7; 
    background-color: #efeae2;
    background-color: rgba(255, 135, 0, 0.05);
    padding:8px; 
    margin-top:5px; 
    color:#C60;
}

#amazon-sdk-info {
    border:1px dotted #eed3d7; 
    background-color: rgba(204, 204, 204, 0.3);
    padding:8px; 
    margin-top:5px; 
    color: rgb(102, 102, 102);
}

#warning_leave_page_before_saving {
    display: none;
}

.manifest-table {
    display: table;
    table-layout: auto;
}

/* General Skin */
.hide {
    display: none;
}

.left {
    float: left !important;
}

a.button {
    height: 26px;
    line-height: 28px;
    padding-bottom: 2px;
}

.inline-block {
    display: inline-block;
}

header.contentHeading {
    border: none;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 0;
}

header.contentHeading h1, header.contentHeading h2, header.contentHeading h3 {
    border: none;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.floatingconfirm-section.asset .action-list .button {
    height: 21px;
    padding: 0 12px;
    line-height: 20px;
}

/* Pixel */
.pixel {
    height: 1px;
    width: 1px;
    border-style: none;
}

.info-content {
    background-color: #ccc;
    padding: 10px
}

.float-right {
    float: right;
}

#banjoCountries {
    padding: 2px 2px 2px 18px;
}

/* Used by the binary tab for app submissions */
#itemsection_binary .warning-msg-outer {
    text-align: left;
}

/* used for displaying the announcement banner */
.app_management_banner {
    float: none;
    width: 100%;
    margin-bottom: 35px;
}

#deferMonetizationMsg {
    margin-top:10px;
}
.taxContainer {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.info {
    display: table-cell;
    width: 70%;
    float: left;
}
.info h1 {
    font-size: 1.4rem;
}
.action {
    display: table-cell;
    width: auto;
    float: right;
}
.action p.taxStatus {
    line-height: 22px;
    padding: 2px 0px 0px 25px;
    background: url('https://images-na.ssl-images-amazon.com/images/G/01/mas/devportal/images/states_sprite.png') no-repeat;
    background-position: 0px -22px;
    font-weight: bold;
} 
.action p.taxStatus.incomplete {
    background-position: 0px -22px;
    color: #FF0000;
}
.action p.taxStatus.inprogress {
    background-position: 0px -44px;
    color: #FFA500;
}
.action p.taxStatus.complete {
    background-position: 0px -0px;
    color: #008000;
}
.otherTaxInterviewContainer {
    margin-top: 15px;
}

#skipMessagePanel {
    display: none;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: none;
    position: fixed;
    z-index: 1009;
    background: rgba(0,0,0,0.7);
}
.popover {
    width: 600px;
    height: 300px;
    background: #FFF;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    padding: 0;
}
.popover-header {
    position: relative;
    text-align: left;
    background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',endColorstr='#eaeaea',GradientType=0);
    border-bottom: 1px solid #cdcdcd;
    border-bottom-color: rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset,0 -1px 0 rgba(255,255,255,0.4) inset;
    padding: 0 14px;
    margin: 0;
}
.popover-header  h4 {
    color: #000;
    margin: 1.5rem 0;
}
.popover-header button.close {
    display: block;
    background-color: transparent;
    border: none;
    float: right;
    padding: 8px;
    position: absolute;
    top: 50%;
    right: 9px;
    margin: -19px 0 0;
    line-height: 0;
    cursor: pointer;
    -webkit-appearance: button;
}
.popover-header button.close i.icon-close {
    width: 10px;
    height: 9px;
    display: block;
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0037-1x._V1_.png") no-repeat;
    background-position: -297px -5px;
    opacity: .64;
    filter: alpha(opacity=64);
}
.popover .popover-warning {
    padding: 14px;
    border-bottom: 1px solid #cdcdcd;
    border-bottom-color: rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(top,#fefaeb,#fdf7e4);
    background: linear-gradient(to bottom,#fefaeb,#fdf7e4);
}
.popover-warning p {
    margin: 0 0 0px 45px;
}
.popover-warning span.icon-warn {
    width: 30px;
    height: 24px;
    display: block;
    position: absolute;
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0037-1x._V1_.png") no-repeat;
    background-position: -281px -37px;
}
#skipMessage {
    padding: 14px;
    margin-left: 25px;
}
#skipMessage ol {
    margin-left: 17px;
}
.popover-footer {
    text-align: right;
    background-color: #f3f3f3;
    background: #f9f9f9;
    background: -webkit-linear-gradient(top,#f3f3f3,white);
    background: linear-gradient(to bottom,#f3f3f3,white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',endColorstr='white',GradientType=0);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
    border-top: 1px solid #ddd;
    padding: 14px;
    margin: 0;
    margin-top: 10px;
}
.button-ok {
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
    border-color: #a88734 #9c7e31 #846a29;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7dfa5',endColorstr='#f0c14b',GradientType=0);
}

nav[role=navigation] div.mainnav-container > ul:first-child > li > a.current {
    height: 57px;
}

a, a:visited, a:active, a:link{
    text-decoration: underline;
    color: #333;
}

ul li {
    list-style: none;
}

form input[type="checkbox"], form input[type="radio"] {
    margin-right: 3px;
}

table td a {
    text-decoration: underline;
    color: black;
}

a.button {
    height: 30px;
    text-decoration: none;
}

.button.remove {
    height: 20px;
}

a.device-availability {
    text-decoration: none;
    color: #0F72C0;
}

a.device-availability:hover {
    color #F60;
}

a.disabled, a.device-availability.disabled {
    color: #333;
    pointer-events: none;
    cursor: default;
}

.hidden {
    display: none;
}

.suppression_status_text {
    margin-right: 20px;
    color: #767676;
    position: relative;
    top: 5px;
}

.dashboard-links {
    cursor: pointer;
}

.tabs li a .state.incomplete {
    background-position: 0 -69px;
}

.submit-botton-header {
    padding: 16px 30px 12px 30px;
}
.submit-botton-header li {
    display: block;
}

.app-nav-header {
    float:left;
    width:75%;
}

.app-nav-header-left {
    width:100%;
    text-align:left;
}

.app-nav-header-left a{
    text-decoration:none;
    color:#0066C0;
}

.app-nav-header-faq {
    float:right;
}

.app_nav_header_progress_bar{
    width: 100%;
    height: 2px;
    display: block;
    border: none;
    -webkit-appearance:none;
}

.app_nav_header_progress_bar::-webkit-progress-bar {
    background:#CCCCCC;
}

.app_nav_header_progress_bar::-webkit-progress-value {
    background:#3BBB44;
}

.app_nav_header_progress_bar::-moz-progress-bar {
    background:#3BBB44;
}

.a-fx-rate-error {
	font-size: 13px;
	margin: 18px 0px 18px 0px;
}

.imageCatagory {
    height: 20px;   
}

.imageCatagoryTitle {
    color: #f9991d;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    margin-top: 20px;
    margin-left: -5px;
    font-weight: normal;
}

.ImageAssetGuildline a {
    float: right;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    color: #0066C0;
    padding-top: 45px;
}

form .row label.fireTvRequest:after {
    content: ' **';
    color: red;
}

.fireTvRequestLabel:before {
    content: '** ';
    color: red;
}

.fireTvModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.fireTvModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.firetv_message_close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: 8px;
}

.firetv_message_close:hover,
.firetv_message_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fireTvModal-header {
    padding: 10px;
    background-color: #f3f3f3;
    color: black;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    font-weight: bold;
}

.fireTvModal-body {
    text-align: left;
    padding: 16px;
    color: black;
}

.fireTvModal-footer {
    padding: 14px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    background-color: #f3f3f3;
}

